{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["simple-import-sort", "babel", "react"],

  "rules": {
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "func-names": 0,
    "import/no-extraneous-dependencies": 0,
    "react/function-component-definition": 0,
    "@typescript-eslint/no-var-requires": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx", "ts", "tsx"]
    }],
    "prettier/prettier": ["error", {
      "semi": false
    }, {
      "usePrettierrc": true
    }],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
